{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[re-frame "1.1.2"]
  [day8.re-frame/undo "0.3.3"]
  [re-frisk "1.3.6"]
  [garden "1.3.10"]
  [medley "1.3.0"]
  [metosin/malli "0.2.1"]
  [com.rpl/specter "1.1.3"]]

 :dev-http {8080 "public"}
 :builds
 {:app  {:target :browser
         :dev {:closure-defines {factor.app/DEV true}}
         :devtools {:preloads [re-frisk.preload]
                    :after-load factor.app/after-load}
         :modules {:main {:init-fn factor.app/init}}}
  :test {:target    :node-test
         :autorun true
         :output-to  "test-out/node-test.js"}
  :citest {:target    :node-test
           :output-to  "test-out/node-test.js"}}}
